# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds / Bundles / Caches
dist/
build/
.vite/
.cache/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cypress Artefakte
frontend/cypress/screenshots/
frontend/cypress/videos/
frontend/cypress/results/

# Prisma DB (lokal)
backend/prisma/dev.db
backend/prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db
